<!DOCTYPE html>
  <html ng-app="ledapp">
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="ledapp.js"></script>
      <title>LED JSAPP</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="MainCtrl as main">
      <h1> LED CONTROLLER v2 </h1>
      <ul >
        <li ng-repeat="strips in leds">
          {{strips.name}} <br> {{strips.id}} <br> {{main.activeProfile}} <br> {{profiles[main.activeProfile].leds[strips.id]}} <br>
          <input type="range" min="0" max="100"  ng-model="profiles[main.activeProfile].leds[strips.id]"
            ng-change="main.sendValue(profiles[main.activeProfile].leds[strips.id], strips.id)" ng-mouseup="main.sendValueOnRelease(profiles[main.activeProfile].leds[strips.id], strips.id)" >
          <!-- <input type="range" ng-model="profiles[activeProfile].leds" min="0" max="100"> {{strips.0}} {{strips}}
          <!--  ng-value="profiles[activeProfile].leds[strips.id]"     ng-change="main.sendValue(strips, strips.id)" -->
        </li>
      </ul>
      <form>
        <div ng-repeat="profile in profiles track by $index">
          {{profile.name}}
          <input type="radio"
          ng-model="main.activeProfile"
          ng-value="$index"
          name="profileSelector"
          ng-change="main.changeProfile()">
        </div>
      </form>
      <form ng-submit="main.addProfile()">
       <input type="text" ng-model="main.profileName"  size="30" required="required"
        placeholder="add new profile name here">
       <input class="btn-primary" type="submit" value="add">
      </form>
        <input class="btn-primary" type="submit" value="remove" ng-click="main.removeProfile()">
    </body>
  </html>
