<!DOCTYPE html>
<div ng-show="!loadingComplete">
  loading...
</div>
<div  ng-show="loadingComplete">
    <ul >
      <li>
        brightness: {{profiles.profiles[profiles.activeProfile].brightness}}<br>
           <rzslider rz-slider-model="profiles.profiles[profiles.activeProfile].brightness" rz-slider-options="slider.brightness"></rzslider>
      </li>
      <li ng-repeat="strips in leds">
        {{strips.name}} <br>
         <rzslider rz-slider-model="profiles.profiles[profiles.activeProfile].leds[strips.id]" rz-slider-options="slider.strip"></rzslider>
      </li>
    </ul>
      <div ng-repeat="profile in profiles.profiles track by $index">
        <label>
        <input type="radio"
         ng-model="profiles.activeProfile"
         ng-value="{{$index}}"
         name="profileSelector"
         ng-change="main.changeProfile()">{{profile.name}}</label>
      </div>
    <!--  <pre>{{profiles.activeProfile || 'null'}}</pre>
      <div ng-repeat="profile in profiles.profiles track by $index">
        <div  class="btn-group" >
          <label class="btn btn-primary"
            ng-model="profiles.activeProfile"
            uib-btn-radio="'{{$index}}'">{{profile.name}}</label>
        </div>
      </div>
      <br>  <br> -->


    <form ng-submit="main.addProfile()">
     <input type="text" ng-model="main.profileName"  size="30" required="required"
      placeholder="add new profile name here">
     <input class="btn-primary" type="submit" value="add">
    </form>
      <input class="btn-primary" type="submit" value="remove" ng-click="main.removeProfile()">

</div>
